.Container {
	width: 100%;
	max-width: 23.4375rem;
	height: fit-content;
	background-color: white;
	margin: 0 auto;
	border-radius: 15px;
	border-bottom-right-radius: 100px;
	padding: 1rem;
	padding-bottom: 3.5rem;
}
