@use '../variables/colors' as c;
.Output {
	font-size: 3rem;
	padding-top: 4rem;

	p {
		display: flex;
		align-items: center;
		font-weight: 700;
		font-style: italic;
		margin-bottom: -1rem;
		font-size: 4rem;
	}
	.accent {
		// font-style: italic;
		color: c.$primary1;
		font-weight: 700;
		font-size: 4rem;
		margin-right: 0.5rem;
	}
}
